# 1. Basic Variables

In [10]:
my_friend = "Tony is my friend"
my_number = 123
my_decimalnumber = 123.50

In [11]:
print(my_friend)
print(my_number)
print(my_decimalnumber)

Tony is my friend
123
123.5

In [16]:
# Check data type
print(type(my_friend))
print(type(my_number))
print(type(my_decimalnumber))

<class 'str'>
<class 'int'>
<class 'float'>

# 2. Different Data Types

In [18]:
# String
String_one = "This is my string"
print(String_one)
type(String_one)

This is my string

str

In [20]:
# Integer
Integer_one = 26
print(Integer_one)
type(Integer_one)

26

int

In [21]:
Integer_one + 20

46

In [22]:
# Float (Decimal Number)
Float_one = 26.62
print(Float_one)
type(Float_one)

26.62

float

In [24]:
Float_one - Integer_one

0.620000000000001

In [27]:
# Booleans (True and False)
Boolean_one = True
print(Boolean_one)
type(Boolean_one)

Boolean_two = bool(0)
print(Boolean_two)
type(Boolean_two)

True
False

bool

# 3. Lists and Tuples

In [30]:
# Lists
list_A = [12, 14, 16, 12.34, True, 26, "Abc"]

In [31]:
list_A

[12, 14, 16, 12.34, True, 26, 'Abc']

In [32]:
type(list_A)

list

In [33]:
# Index numbering on lists start from 0
list_A[1]

14

In [34]:
# Value in lists can be update by its index (Mutable - update the value)
list_A[1] = 20
list_A

[12, 20, 16, 12.34, True, 26, 'Abc']

In [35]:
# Tuples
tuple_A = (12, 13, 14, 14.5, 15, 16)

In [36]:
type(tuple_A)

tuple

In [37]:
tuple_A[3]

14.5

In [38]:
# Tuples -> Immutable - cannot update the value
# this code error
tuple[4] = 18

TypeError: 'type' object does not support item assignment

# 4. Sets

In [39]:
set_A = {12, 12, 12, 13, 13, 14, 15, 16, 16, 17}

In [40]:
type(set_A)

set

In [42]:
# Sets cannot update the value
# Set cannot support item assigne (Immutable)
# this code error
set[4] = 67

TypeError: 'type' object does not support item assignment

In [43]:
# Sets not print duplicates value (remove duplicates)
set_A

{12, 13, 14, 15, 16, 17}

In [45]:
# Change list to set
list_B = [13, 14, 14.45, 15, 'True', 32, 32]
list_B

[13, 14, 14.45, 15, 'True', 32, 32]

In [46]:
set(list_B)

{13, 14, 14.45, 15, 32, 'True'}

In [47]:
# Change set to list
list(set(list_B))

[32, 'True', 13, 14, 15, 14.45]

In [48]:
type(list(set(list_B)))

list

# 5. Dictionary

In [1]:
# This is a Dictionary -> key and value
dict_A = {"Name" : "Hoobs",
         "Age" : "Twenty two",
         "Nationality" : "British"}

In [2]:
type(dict_A)

dict

In [3]:
print(dict_A)

{'Name': 'Hoobs', 'Age': 'Twenty two', 'Nationality': 'British'}

In [5]:
# Access the key
dict_A["Name"]
dict_A["Nationality"]

'British'

# 6. CRUD For Lists

In [9]:
#Create
places = ["Berlin", "Sydney", "German", "Seoul", "New Delhi", "New York"]

In [14]:
# Read
places

['Berlin', 'Sydney', 'German', 'Seoul', 'New Delhi', 'New York']

In [16]:
# Reading using Index Number
places[4]

'New Delhi'

In [17]:
places[-1]

'New York'

In [18]:
len(places)

6

In [20]:
# Update
places[2] = "German"
places

['Berlin', 'Sydney', 'German', 'Seoul', 'New Delhi', 'New York']

In [21]:
places.append("Moscow")
places

['Berlin', 'Sydney', 'German', 'Seoul', 'New Delhi', 'New York', 'Moscow']

In [22]:
places.insert(4, "Australia")
places

['Berlin',
 'Sydney',
 'German',
 'Seoul',
 'Australia',
 'New Delhi',
 'New York',
 'Moscow']

In [24]:
# Delete
del places[2]
places

['Berlin', 'Sydney', 'Seoul', 'Australia', 'New Delhi', 'New York', 'Moscow']

# 7. CRUD For Dictionary

In [4]:
# Create

In [5]:
office = {
    "Name" : "George",
    "Age" : "Twenty two",
    "Position" : "IT Manager"
}

In [ ]:
# Read

In [7]:
print(office)

{'Name': 'George', 'Age': 'Twenty two', 'Position': 'IT Manager'}

In [8]:
office["Age"]

'Twenty two'

In [9]:
# Read the keys
office.keys()

dict_keys(['Name', 'Age', 'Position'])

In [10]:
# Read the values
office.values()

dict_values(['George', 'Twenty two', 'IT Manager'])

In [2]:
# Update

In [11]:
# Update the values
office["Position"] = "HR"

In [12]:
print(office)

{'Name': 'George', 'Age': 'Twenty two', 'Position': 'HR'}

In [13]:
# Add new key and value
office["Role"] = "Recruiting"

In [15]:
office

{'Name': 'George', 'Age': 'Twenty two', 'Position': 'HR', 'Role': 'Recruiting'}

In [3]:
# Delete

In [16]:
del office["Role"]

In [17]:
office

{'Name': 'George', 'Age': 'Twenty two', 'Position': 'HR'}

# 8. IF, Else, Elif Statement

In [18]:
# If statement
scientist = "Sir Isaac Newton"
if scientist != "Newton":
    print("He is not a scientist")

He is not a scientist

In [19]:
# Else statement
my_number = 20
if my_number <= 5:
    print("The number is less than 5")
# Elif statement
elif my_number >= 10:
    print("The number is greater than 10")
else:
    print("The number is between 6 and 9")

The number is greater than 10

# 9. IN Statement